@font-face {
   font-family: 'NeoSansArabicLight';
   font-display: swap;
   src: url('file:///Users/noraalhashmi/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-10-19_184321/fonts/NeoSansArabicLight/font.ttf');
}
