@font-face {
   font-family: 'Neo_Sans_Medium';
   font-display: swap;
   src: url('file:///Users/noraalhashmi/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-10-19_184321/fonts/Neo_Sans_Medium/font.ttf');
}
